
*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;       
}

html, body { height: 4800px }

body {
    background-repeat: no-repeat;
    background-color: #f7efe0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 24pt;
    font-weight: 700;
    padding-bottom: 14px;
}

p {
    
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

a:hover {
    color:#7BA362;
    font-weight: 700;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1)0.5s;
    cursor: pointer;
}

.imghover img:hover {transform:scale(1.25);
}

img{
    transition: transform .2s;
}

#navbar {
    padding:20px;
    position:fixed;
    top:1vh;
    left:1vw;
    font-family: 'JetBrains Mono', monospace;
    font-size: 10pt;
    line-height: 16pt;
    cursor: pointer;
}

.bambi {
    position:fixed;
    top:1vh;
    left:5vw;
}

.pilea {
    position:fixed;
    top:1vh;
}

.rosa {
    position:fixed;
    top:1vh;
    left:3vw
}

.pothos {
    position:fixed;
    top:4vh;
    left:3vw
}

.plantinfo {
    position:absolute;
    top: 25vh;
    left: 60vw;
    width: 30vw;
}

.writtenentries {
    position:relative;
    top: 95vh;
    left: 60vw;
    width: 30vw;
    padding-bottom: 500px;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    font-size: 14pt;
    line-height: 16pt;
}

.list {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
}

.currentpage {
    color: #7BA362;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
}

img {
    margin-left: 10%;

}

li {
    font-family: 'JetBrains Mono', monospace;
    font-size: 14pt;
    line-height: 20pt;
}

.welcome {
    position:absolute;
    margin-left:47vw;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12pt;
    line-height: 800px;
}

.pixelgreenhouse {
    position:fixed;
    top:-15vh;
    left:15vw;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.bambigreenhouse {
    position:fixed;
    top:50vh;
    left:20vw;
}

.pileagreenhouse {
    position:fixed;
    top:49vh;
    left:30vw;
}

.rosagreenhouse {
    position:fixed;
    top:60vh;
    left:50vw;
}

.pothosgreenhouse {
    position:fixed;
    top:30vh;
    left:44vw;
}

.wateringcangreenhouse {
    position:fixed;
    top:42vh;
    left:66vw;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.scissorsgreenhouse {
    position:fixed;
    top:72vh;
    left:42vw;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.fertilizergreenhouse {
    position:fixed;
    top:64vh;
    left:63vw;
}

.bambi2sticky {
    position: absolute;
    top:800px;
    left: -150px;
}

.rosa2sticky {
    position: absolute;
    top:1500px;
    right: -150px;
}

.pothos2sticky {
    position: absolute;
    top:2300px;
    left: -150px;
}